.idea
*.iml
.atomist/yarn.lock
.DS_Store
.gradle
build
logs
${env:base_log_path}
.classpath
.project
.settings
*.class
out/
bin/
.vscode/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# gradle
.gradle/

# ides
.idea/
*.iml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# build
build/

# classes
classes/

# logs
logs/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Local Development
.env
.envrc
